<!-- Author: Patrick Felschen -->
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">FieldBet</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/web/v1/bets" class="nav-link">Tippen</a></li>
      <li class="nav-item"><a href="/web/v1/profiles" class="nav-link">Rangliste</a></li>
      <li class="nav-item"><a href="/web/v1/profiles/me" class="nav-link">Konto</a></li>
    </ul>
  </header>
</div>
